
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <td>Codigo</td>
        <td>Nome</td>
        <td>Email</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Erick</td>
        <td>E@e.com</td>
    </tr>

</table>